.logoPic {
    width: 100%;
    float: left;
    position: absolute;
    // margin-left: 800px;
    margin-top: 70px;
    left: 65vw;
    img {
        width: 28%;
        // border-radius: 5px;
        // border: 5px solid black;
        opacity: 10;
    }
}